<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <display-name>InstitueManagementSyastem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studentlogin</display-name>
    <servlet-name>studentlogin</servlet-name>
    <servlet-class>studentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogin</servlet-name>
    <url-pattern>/studentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogout</display-name>
    <servlet-name>adminlogout</servlet-name>
    <servlet-class>adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogout</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentregister</display-name>
    <servlet-name>studentregister</servlet-name>
    <servlet-class>studentregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentregister</servlet-name>
    <url-pattern>/studentregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletestudent</display-name>
    <servlet-name>deletestudent</servlet-name>
    <servlet-class>deletestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletestudent</servlet-name>
    <url-pattern>/deletestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approvestudent</display-name>
    <servlet-name>approvestudent</servlet-name>
    <servlet-class>approvestudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approvestudent</servlet-name>
    <url-pattern>/approvestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editstudent</display-name>
    <servlet-name>editstudent</servlet-name>
    <servlet-class>editstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editstudent</servlet-name>
    <url-pattern>/editstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletereigstered</display-name>
    <servlet-name>deletereigstered</servlet-name>
    <servlet-class>deletereigstered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletereigstered</servlet-name>
    <url-pattern>/deletereigstered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentupdate</display-name>
    <servlet-name>studentupdate</servlet-name>
    <servlet-class>studentupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentupdate</servlet-name>
    <url-pattern>/studentupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogout</display-name>
    <servlet-name>studentlogout</servlet-name>
    <servlet-class>studentlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogout</servlet-name>
    <url-pattern>/studentlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adddetails</display-name>
    <servlet-name>adddetails</servlet-name>
    <servlet-class>adddetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adddetails</servlet-name>
    <url-pattern>/adddetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addevents</display-name>
    <servlet-name>addevents</servlet-name>
    <servlet-class>addevents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addevents</servlet-name>
    <url-pattern>/addevents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editevents</display-name>
    <servlet-name>editevents</servlet-name>
    <servlet-class>editevents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editevents</servlet-name>
    <url-pattern>/editevents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteevent</display-name>
    <servlet-name>deleteevent</servlet-name>
    <servlet-class>deleteevent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteevent</servlet-name>
    <url-pattern>/deleteevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>courseselection</display-name>
    <servlet-name>courseselection</servlet-name>
    <servlet-class>courseselection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseselection</servlet-name>
    <url-pattern>/courseselection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enquiery</display-name>
    <servlet-name>enquiery</servlet-name>
    <servlet-class>enquiery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enquiery</servlet-name>
    <url-pattern>/enquiery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewenquiery</display-name>
    <servlet-name>viewenquiery</servlet-name>
    <servlet-class>viewenquiery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewenquiery</servlet-name>
    <url-pattern>/viewenquiery</url-pattern>
  </servlet-mapping>
</web-app>